body{
    background-color: #B5E6EF;
    position: relative;
}
h1{
    display: none;
}
#main_switch{
    display: none;
}
.content{
    position: fixed;
}
section{
    width: 100%;
}
:root{
    font-family: 'Kaisei Opti', serif;
}
/* ============<<index>>================ */
header{
    display: flex;
    /* background-color: aquamarine; */
    box-sizing: border-box;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFFFE;
}
nav{
    background-color: #FAFFFE;
}
.nav_item li{
    display:block;
}
.nav_item a{
    text-decoration: none;
    display: block;
    color: #7DACBA;
    font-weight: 500;
    font-family: 'Kaisei Opti', serif;
}
/* ============<<NO-logo_carousel>>=============== */
.carousel{
    position: relative;
    background-color:#fbffda33;
}
.logo_carousel{
    display: flex;
    /* position:absolute; */
    top: 0;
    border-radius:10% 46% 46% 10% / 0% 100% 100% 0%;    
    overflow: hidden;
}
.carousel_images{
    overflow: hidden;
    height: 100vh;
}
.carousel_images img{
    object-fit: cover;
    object-position: center;
}
/* ===========<<NO-news_index>>============ */  
.news{
    position: absolute;
    display: flex;
    bottom: 10%;
    right: 0;
    z-index: 99;
    background-color: #f2f9fa;
    width: 90%;
    align-items: center;
    color: #6a929e;
    line-height: 20px;
    font-family: 'Kaisei Opti', serif; 
}
.news img{
    border-radius: 100%;
    width: 10vh;
    height:10vh;
}
/* ==========<<NO-product_outline_comments>>======== */ 
.product_outline_comments{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.contents{
    display: flex;
    width: 80%;
    position: relative;
}
.product_outline{
    position: absolute;
    top: 5%;
    left: 0%;
    font-size: 24px;
    color: #e6f5f7;
    line-height: 30px;
    z-index: 100;
}
.product_outline h2{
    font-size: 40px;
    margin:30px 0 20px 0;
    font-weight: 500;
    position: relative;
}
.product_outline h2::after{
    position: absolute;
    top: 120%;
    content: '';
    height: 4px;
    width: 90%;
    background-color: rgb(255, 255, 255,0.5);
    z-index: 100;
}
.product_outline p{
    font-size: 32px;
    margin:30px 0 40px 0;
    font-weight: 500;
}
.product_detail_mark{
    position: absolute;
    top: 200%;
}
.product_detail_mark p{
    font-size: 18px;
    display: inline;
}
.product_detail_mark a{
    font-size: 16px;
    margin-top: 3vh;
    display: inline-block;
    width: 35vh;
    text-align: center;
    padding: 15px 0 15px 0;
    text-decoration: none;
    background-color:#93D1EE;
    border-radius: 10px;
    color: #e6f5f7;
}
.product_outline_img{
    height: 70vh;
    border-radius: 74% 75% 76% 77% / 62% 59% 63% 62%
    ;
    position: relative;
    margin: auto;
    overflow: hidden;
    z-index: -1;
}
.product_outline_img img{
    width: 100%;
    height: 100%;
    position: absolute;
}
/* ================<<NO-ingredients================= */ 
.ingredients{
    background-color: #93D1EE;
}
.ingredients_detail{
    padding: 50px 50px 50px 50px;
    margin: auto;
    color:  #e6f5f7;;
}
.ingredients_detail h2{
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
}
.ingredients_detail h2::after{
    position: absolute;
    top: 100%;
    content: '';
    height: 4px;
    width: 50%;
    background-color: rgb(255, 255, 255,0.5);
    z-index: 100;
}
.ingredients_detail p{
    line-height: 30px;
}
.ingredients_detail a{
    margin-top: 3vh;
    display: inline-block;
    width: 33vh;
    text-align: center;
    padding: 20px 0 20px 0;
    text-decoration: none;
    background-color:#79c8ec;
    border-radius: 10px;
    color: #e6f5f7;
}

/* ==================<<PH-phone>>=================== */
@media screen and ( max-width: 400px){
    .ingredients{
        /* margin-top: 25vh; */
    }
}
/* ==============<<FP-flat_plate>>================== */
@media screen and ( max-width: 767px){
    .content img{
        width: 66px;
        height: 46px;
        margin: 0 0 0 18px;
    }
    header{
        position: relative;
    }
    .content{
        width: 95%;
        display: flex;
        justify-content: space-between;
        border-radius: 26px 0 0 26px;
        margin-top: 10px;
        z-index: 100;
        position: absolute;
        right: 0;
    }
    nav{
        position: absolute;
        padding: 30px 0 20px 25px;
        z-index: -1;
        top: 50%;
        width: 100%;
        display: none;
        border-radius: 0 0 0 26px;
    }
    .content label{
        font-size: 20px;
        color: #7DACBA;
        margin-right: 20px;
    }
    .nav_item li{
        display: block;
        border-bottom:0.5px dashed #7DACBA;
    }
    .nav_item a{
        line-height: 44px;
        font-size: 18px;
    }
    #main_switch:checked~.content nav{
        display: block;
    }
    /* ===========<<FP-carousel>>============ */
    .carousel{
        height:80vh;
    }
    .logo_icon{
        display: none;
    }
    .logo_carousel{
        width: 100%;
        display: flex;
        position:absolute;
        top: 0;
        border-radius:0% 48% 48% 0% / 10% 64% 59% 10%  ;    
        overflow: hidden;
    }
    .carousel_images{
        width: 100%;
        overflow: hidden;
        height: 63vh;
    }
    .carousel_images img{
        width: 120%;
        object-fit: cover;
        object-position: center;
    } 
    /* ===========<<FP-news_index>>============ */ 
    .news{
        width: 100%;
        font-weight: 600;
        padding: 10px 0 10px 0;
        font-size: 15px;
    } 
    .news img{
        margin: 0px 5px 0px 5px;
    }
    /* ========<<FP-roduct_outline_comments>>====== */ 
    .contents{
        width: 90%;
    }
    .product_outline_img{
        width:95%;
        height: 60vh;
    }
    .product_outline h2::after{
        width: 30%;
    }
    /* ==============<<FP-ingredients=============== */
    .ingredients{
        display: flex;
        flex-direction: column;
    }
    .ingredients_detail{
        width: 70%;
    }
    .mountain{
        order: -1;
        position: relative;
    }
    .mountain img{
        width: 100%;
        height: 50vh;
    }
    /* .dec{
        position: absolute;
        top:0;
        left: 0;
        width: 0;
        height: 0;
        border-color:transparent #ff0000  #ff0000 transparent;
        border-style: solid solid solid solid;
        border-width: 0px 0px 10vh 60vh;

    } */
}
/* =============<<DE-desktop>>================ */
@media screen and ( min-width: 768px){
    header{
        /* padding: 20px; */
        justify-content: right; 
    }
    .content{
        /* padding: 0 10px 0 10px; */
        border-radius: 100%;
        width: 45%;
        margin: 20px 30px 0 0;
    }
    .content img{
        width:90px;
        height: 64px;
        display: none;
    }
    nav{
        width: 100%;
        border-radius: 24px;
        margin: auto;
    }
    .nav_item{
        display: flex;
        justify-content: space-around;
    }
    .nav_item li{
        display: inline-block;
        font-size: 15px;
        margin: 10px 0 10px 0;
    }
    .content label{
        display: none;
    }
    /* =============<<DE-carousel>>============== */
    .carousel{
        height: 105vh;
        z-index: -1;
        width: 100%;
        top: 0;
    }
    .logo_carousel{
        position: absolute;
        top:0;
        z-index: -1;
        width: 95%;
        height: 85%;
        align-items: center;
        border-radius:10% 46% 46% 10% / 0% 100% 100% 0%;    
        overflow: hidden;
        background-color: #e6f5f7;
    }
    .logo_icon{
        display: flex;
        width: 50%;
        height: 100vh;
        position: relative;
    }
    .logo_icon img{
        display: block;
        width: 30vh;
        height: 25vh;
        /* position: absolute;
        top: 35%; */
        margin: auto;
        }
    .carousel_images{
        overflow: hidden;
        width: 60%;
        height: 100vh;
        right: 150px;
    }
    .carousel_images img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }  
    /* ===========<<DE-news_index>>============ */  
    .news{
        border-radius:50px 0 0 50px; 
        font-weight: 400;
        padding: 20px 0 20px 0 ;
        font-size: 22px;  
    }
    .news img{
        margin: 0 20px 0 20px;
    }
    /* ========<<DE-product_outline_comments>>====== */ 
    .product_outline_comments{
        position: relative;
    }
    .product_outline_img{
        width:50vh;
    }
    .product_outline_comments::before{
        content: '';
        height: 70vh;
        width:50vh;
        border-radius: 74% 75% 76% 77% / 62% 59% 63% 62%
        ;
        box-shadow:0 0 60px 50px inset #74a6cf33;
        position: absolute;
        top: 15%;
        right: 12%;
        z-index: -1;
    }
    /* ==============<<DE-ingredients=============== */
    .ingredients{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .ingredients_detail{
        width: 30vh;
        z-index: 1;
    }
    .mountain{
        position: relative;
        z-index: 0;
    }
    .mountain img{
        width: 120%;
        height: 70vh;
    }
    .dec{
        position: absolute;
        top:0;
        left: -15vh;
        width: 20vh;
        height: 70vh;
        border-top:70.1vh solid #93D1EE;
        border-right:15vh solid #00000000;
        /* background-color: black; */
    }
}