body {
    /* background-color: #B5E6EF; */
    /* background-color:#93D1EE ; */
    background-color: #B5E6EF;
    /* background-color: #a9e7f2; */

    position: relative;
    background-image: url(../pic/bck3.jpg);
}
/* body{
    cursor: url(),pointer;
} */
h1 {
    display: none;
}

#main_switch {
    display: none;
}

.content {
    position: fixed;
}

section {
    width: 100%;
}

:root {
    font-family: 'Kaisei Opti', serif;
    --color_text: #e6f5f7;

}
#change{
    position: absolute;
    /* width: 100%;
    height: 100%; */
    top:0;
    /* background-color:#425e66; */
    z-index: 10000;
    transition: ease;
    animation: changepage 3s 1;    
}
@keyframes changepage{
    from{
        top:0;
        width: 100%;
        height: 100%;
        background-color: #d1e5ec;
        }
    to{

        width: 0;
        height: 100%;
        background-color: #00ccff41;
    }
}
.circle_1{
    position: fixed;
    width: 30vw;
    height: 30vw;
    background-color: #c6effa34;
    top: 50%;
    left: -2%;
    border-radius: 50%;
    z-index: -1;
    animation: flow 8s infinite alternate;
    transition: ease 3s;
}
.trangle{
    position: fixed;
    border-top: solid 0px #c6effa34;
    border-right: solid 400px #c6effa34;
    border-bottom: solid 400px #3db7f000;
    top: 0%;
    right: 0%;
    z-index: -1;
    animation: flow_2 8s infinite alternate;
    transition: ease 3s;
}
@keyframes flow{
    from{
        width: 30vw;
        height:30vw;
        }
    to{
        top: 45%;
        left: 0%;
        width: 35vw;
        height:35vw;
    }
}
@keyframes flow_2{
    from{
        border-right: solid 400px #c6effa34;
        border-bottom: solid 400px #3db7f000;
        }
    to{
        border-right: solid 500px #c6effa34;
        border-bottom: solid 500px #3db7f000;
    }
}
.top_shoppingcar{
    position: fixed;
    right: 0;
    bottom: 9vw;
    z-index: 999;
    border-radius: 10px 0 0 0;
    overflow: hidden;
    border: 1px dashed #37bfff;
}
.top_shoppingcar div{
    height: 3vw;
    width: 3vw;
    background-color: #ffffffe7;
    text-align: center;
    display: flex;
}
.top{
    border-bottom: 1px dashed #37bfff;
}
.top_shoppingcar a{
    text-decoration: none;
    display: inline-block;
    margin: auto;
    font-size: 1.2em;
    color: #37bfff;
}
/* ============<<index>>================ */
header {
    display: flex;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d5ffff;
    box-shadow: 0 0 13px 5px inset #ffffffe5;
}

nav {
    background-color: #d5ffff;
    box-shadow: 0px 0px 8px 5px inset #ffffff99;
    z-index: 9999;
}

.nav_item li {
    display: block;
}

.nav_item a {
    text-decoration: none;
    display: block;
    color: #7DACBA;
    font-weight: 500;
    font-family: 'Kaisei Opti', serif;
}

/* ============<<NO-logo_carousel>>=============== */
.carousel {
    position: relative;
}

.logo_carousel {
    display: flex;
    border-radius: 10% 46% 46% 10% / 0% 100% 100% 0%;
    overflow: hidden;
    z-index: 199;
}
.carousel_images{
    overflow: hidden;
    /* background-image: url(../pic/star_fruit2.jpg); */
    background-size: 100% 100%;
}
#a.occur,#b.occur,#c.occur{
    opacity: 1;
    transition: ease 3s 0.4s;
    transform: scale(1.10);
}
#a,#b,#c{
    width: 55%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: ease 3s 0.4s;
    right: 0;
}
#book{
    position: absolute;
    z-index: 1;
    animation: page infinite;
    transition: ease 1s;
    animation-duration:8s;
    transform: rotate(135deg);
}
@keyframes page{
    from{
        top:-900px;
        left: -1000px;
        width: 400%;
        height: 250%;
        background-color: #ffffff00;
        }
    to{

        top: -900px;
        left: -1000px;
        width: 0;
        height: 0;
        background-color: #ffffff;
        transform: rotate(135deg);
    }
}
/* ===========<<NO-news_index>>============ */
.news {
    position: absolute;
    display: flex;
    bottom: 10%;
    right: 0;
    z-index: 5;
    background-color: #d6ffff;
    width: 90%;
    align-items: center;
    color: #6a929e;
    line-height: 20px;
    font-family: 'Kaisei Opti', serif;
    box-shadow: 0 0 25px 15px inset #ffffffc3;
}
.news:hover.news img{
    transform: scale(1.05);
}
.news img {
    border-radius: 100%;
    width: 10vh;
    height: 10vh;
    transition: ease 1s;
}
.news a:hover,section a:hover{
    box-shadow: inset 0 0 10px 8px #ffffffbb;
    color: #ffffff;
}
a{
    transition: ease 0.1s;
}
/* ==========<<NO-product_outline_comments>>======== */
.product_outline_comments {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.contents {
    display: flex;
    width: 80%;
    position: relative;
}

.product_outline {
    position: absolute;
    top: 5%;
    left: 0%;
    font-size: 24px;
    color: #134a64d1;
    line-height: 30px;
    z-index: 2;
}

.product_outline h2 {
    font-size: 40px;
    margin: 30px 0 20px 0;
    font-weight: 500;
    position: relative;
}

.product_outline h2::after {
    position: absolute;
    top: 120%;
    content: '';
    height: 3px;
    width: 80%;
    background-color: #628a9671;
    z-index: 10;
}

.product_outline p {
    font-size: 32px;
    margin: 30px 0 40px 0;
    font-weight: 500;
}

.product_detail_mark {
    position: absolute;
    /* top: 200%; */
}

.product_detail_mark p {
    font-size: 18px;
    display: inline;
}

.product_detail_mark a {
    font-size: 18px;
    margin-top: 3vh;
    display: inline-block;
    width: 35vh;
    text-align: center;
    padding: 15px 0 15px 0;
    text-decoration: none;
    background-color: #37bfff;
    border-radius: 10px;
    color: #e6f5f7;
    z-index: 0;
}

.product_outline_img {
    width: 30%;
    border-radius: 74% 75% 76% 77% / 62% 59% 63% 62%;
    position: relative;
    margin: auto;
    overflow: hidden;
    z-index: 1;
}

.product_outline_img img {
    width: 100%;
    height: 70vh;
    transition: ease 1.5s;
}
.contents:hover .product_outline_img img{
    transform: scale(1.10);
}

/* ================<<NO-ingredients================= */
.ingredients {
    overflow: hidden;
    background-color: #93e2ff;
}
.mountain{
    overflow: hidden;
    /* height: 70vh; */
}
.ingredients:hover .mountain img{
    transform: scale(1.05);
}
.mountain img{
    transition: ease 1s;
}
.ingredients_detail {
    padding: 50px 50px 50px 50px;
    margin: auto;
    color: #ffffffe5;
}

.ingredients_detail h2 {
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
}

.ingredients_detail h2::after {
    position: absolute;
    top: 100%;
    content: '';
    height: 4px;
    width: 50%;
    background-color: rgb(255, 255, 255, 0.5);
    z-index: 0;
}

.ingredients_detail p {
    line-height: 30px;
}

.ingredients_detail a {
    font-size: 18px;
    margin-top: 3vh;
    display: inline-block;
    width: 33vh;
    text-align: center;
    padding: 20px 0 20px 0;
    text-decoration: none;
    background-color: #37bfff;
    border-radius: 10px;
    color: #e6f5f7;
}

/* ================<<NO-purchase>>================= */
.purchase {
    width: 80%;
    margin: auto;
}

.purchase h2 {
    font-size: 32px;
    color: #39aee4;
    margin: 8% 0 5% 0;
    position: relative;
}

.purchase h2::after {
    position: absolute;
    top: 105%;
    content: '';
    height: 3px;
    width: 10%;
    background-color: #3db7f088;
    z-index: 10;
}

.purchase_process .card p {
    font-size: 28px;
    color: #39aee4;
    text-align: center;
}

.purchase_process .card div {
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    border: 8px  double #3db7f0C2;
    text-align: center;
    display: flex;
    opacity: 0.8;
}

.purchase_process div>i {
    color: #3db7f0;
    display: block;
    margin: auto;
    opacity: 0.7;
}

.purchase_process>i {
    font-size: 30px;
    color: #79c8ec;
}

.browse {
    display: flex;
    justify-content: center;
}

.purchase a {
    font-size: 18px;
    margin-top: 6vh;
    margin-bottom: 6vh;
    display: inline-block;
    width: 33vh;
    text-align: center;
    padding: 20px 0 20px 0;
    text-decoration: none;
    background-color: #37bfff;
    border-radius: 10px;
    color: #e6f5f7;
}

/* ================<<NO-video>>================= */
.video {
    background-color: #fbffda33;
}

.youtube {
    margin: auto;
    position: relative;
}

#myVideo {
    display: block;
    margin: auto;
}

.youtube .bnr-title {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 39%;
    height: 40%;
    background: #C3EBEBC2;
    z-index: 99;
    border: thick double #425e66;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
}

.youtube .bnr-title .title {
    margin-bottom: 8px;
    font-size: 28px;
}

.youtube .bnr-title .ice {
    font-size: 28px;
}

/* ================<<NO-footer>>================= */
footer {
    width: 100%;
    z-index: 99;
    background-image:linear-gradient(to top,#31a9d1d5 30%,#ffffff33 );
}

.container {
    padding-top: 3%;
    margin: auto;
    display: flex;
    width: 80%;
    border-bottom: 1px dashed #e3e5e9;
    justify-content: space-around;
}

.logo_footer img {
    display: block;
}

.footer_divide {
    display: flex;
    margin-top: auto;
}

.footer_divide ul {
    line-height: 30px;
    color: #3c6b80;
    margin: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer_divide a{
    text-decoration: none;
    color: #3c6b80;
}

.footer_divide ul:last-child {
    flex-direction: column;
}

.footer_divide li {
    font-size: 13px;
    line-height: 30px;
    display: inline-block;
}

.web {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_divide ul:last-child li {
    font-size: 22px;
}

.ru {
    text-align: center;
    font-size: 10px;
    color: #3c6b80;
    line-height: 20px;
    margin: auto;
    width: 80%;
}



/* ==============<<FP-flat_plate>>================== */
@media screen and (max-width: 991px) {
    .top_shoppingcar{
        bottom: 15vw;
    }
    .top_shoppingcar div{
        height: 10vw;
        width: 10vw;
    }
    .top_shoppingcar a{
        font-size: 1em;
    }
    .circle_1{
        display: none;
    }
    .trangle{
        display: none;
    }
    .content img {
        width: 66px;
        height: 46px;
        margin: 0 0 0 18px;
    }

    header {
        position: relative;
    }

    .content {
        width: 95%;
        display: flex;
        justify-content: space-between;
        border-radius: 26px 0 0 26px;
        margin-top: 10px;
        z-index: 100;
        position: fixed;
        right: 0;
    }

    nav {
        position: absolute;
        padding: 30px 0 20px 25px;
        z-index: -1;
        top: 50%;
        width: 100%;
        display: none;
        border-radius: 0 0 0 26px;
        box-shadow: 7px -8px 10px 3px inset #ffffffe5;
    }

    .content label {
        font-size: 20px;
        color: #7DACBA;
        margin-right: 20px;
    }

    .nav_item li {
        display: block;
        border-bottom: 0.5px dashed #7DACBA;
    }

    .nav_item a {
        line-height: 44px;
        font-size: 18px;
    }

    #main_switch:checked~.content nav {
        display: block;
    }

    /* ===========<<FP-carousel>>============ */
    .carousel {
        min-height: 80vh;
    }

    .logo_icon {
        display: none;
    }
    .carousel_images{
        width: 100%;
        height: 63vh;
        border-radius: 0% 48% 48% 0% / 10% 64% 59% 10%;
        position: relative;
    }
    #a.occur,#b.occur,#c.occur{
        transition: ease  4s .4s;
    }
    #a,#b,#c{
        width: 100%;
        transition: ease  4s .4s;
    }

    /* ===========<<FP-news_index>>============ */
    .news {
        width: 100%;
        font-weight: 500;
        padding: 0px 8px 0px 8px;
        font-size: 15px;
    }

    .news img {
        margin: 4px 0px 3px 0px;
        height: 16%;
    }
    .news img:first-child{
        margin: 4px 0px 3px 17px;
    }   
    .news p {
       display: block;
       padding: 0;
    }
    .news a {
        display: none;
    }

    /* ========<<FP-roduct_outline_comments>>====== */
    .product_outline_comments {
        height: 130vh;
        position: relative;
    }

    .contents {
        width: 75%;
        height: 100%;
    }

    .product_outline {
        top: 0;
        height: 100%;
    }

    .product_outline_img {
        margin-top: 130px;
        width: 96%;
    }

    .product_outline h2::after {
        width: 30%;
    }

    .product_detail_mark {
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
    }

    /* ==============<<FP-ingredients=============== */
    .ingredients {
        display: flex;
        flex-direction: column;
    }

    .ingredients_detail {
        width: 70%;
    }

    .ingredients_detail h2::after {
        width: 22%;
    }

    .mountain {
        order: -1;
        position: relative;
    }

    .dec {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        border: solid;
        border-width: 0 0 150px 250vh;
        border-color: transparent transparent #93e2ff transparent;

    }

    .mountain img {
        width: 100%;
        height: 50vh;
    }

    /* ================<<FP-purchase>>================= */
    .purchase {
        width: 70%;
    }

    .purchase h2::after {
        width: 20%;
    }

    .purchase_process {
        display: flex;
        flex-direction: column;
    }

    .purchase_process .card {
        margin: auto;
    }

    .purchase_process .card p {
        margin: 15px 0 15px 0;
    }

    .purchase_process .card div {
        margin-top: 20px;
        width: 35vw;
        height: 35vw;
    }

    .purchase_process>i {
        transform: rotate(90deg);
        margin: auto;
        display: inline-block;
    }
    .purchase_process div>i {
        font-size: 15vw;
    }
    
    /* ================<<FP-video>>================= */
    .youtube {
        width: auto;
    }

    #myVideo {
        width: 80%;
        height: 60vh;
    }
    .youtube .bnr-title {
        height: 20% ;
    }
    .youtube::before {
        font-weight: 500;
        padding-bottom: 10px;
    }
    .title p,.ice p{
        font-size: 20px;
    }

    /* ================<<FP-footer>>================= */
    .logo_footer img {
        width: 20%;
    }

    .container {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .footer_divide {
        width: 100%;
        flex-wrap: wrap;
    }

    .footer_divide ul{
        margin: auto;
        width: 40%;
        font-size: 15px;
    }
    .footer_divide li{
        font-size: 10px;
    }
    .web i{
        font-size: 14px;
    }
    .ru{
        margin-top: 5px;
        font-size: 8px;
        line-height: 16px;
    }
}
@media only screen and (min-width: 720px){
    .logo_carousel {
        width: 86%;
        height: 80%;
        border-radius: 10% 46% 46% 10% / 0% 100% 100% 0%;
    }
    .carousel_images {
        overflow: hidden;
        width: 100%;
        right: 0px;
    }
    .product_outline_img {
        width: 70%;
    }
    .purchase_process div>i {
        font-size: 13vw;
    }
    .purchase_process .card div {
        width: 25vw;
        height: 25vw;
    }
        
}
  /* =============<<DE-desktop>>================ */
@media screen and ( min-width: 992px){
    header {
        justify-content: right;
    }

    .content {
        width: 40vw;
        /* width: 500px; */
        margin: 20px 30px 0 0;
        z-index: 999;
        border-radius: 24px;
        transition: ease 1s;

    }

    .content img {
        margin:0  30px;
        width: 60px;
        position: absolute;
        top: 0;
        display: none;
    }

    nav {
        width:40vw;
        border-radius: 24px;
        margin-left:auto ;
        box-shadow: none;
        background-color:#ffffff00;
    }

    .nav_item {
        display: flex;
        justify-content: space-around;
        margin: 5px 0;
    }

    .nav_item li {
        display: inline-block;
        font-size: 15px;
        margin: 10px 0 10px 0;
    }

    .content label {
        display: none;
    }

    /* =============<<DE-carousel>>============== */
    .carousel {
        height: 105vh;
        width: 100%;
        top: 0;
    }

    .logo_carousel {
        position: absolute;
        top: 0;
        z-index: 0;
        width: 95%;
        height: 85%;
        align-items: center;
        border-radius: 10% 46% 46% 10% / 0% 100% 100% 0%;
    }
    .product_detail_mark {
        top: 30vw;
    }

    .logo_icon {
        display: flex;
        box-sizing: border-box;
        width: 45%;
        height: 100vh;
        position: relative;
        z-index: 100;
        box-shadow: inset 0 0 30px 0px #fff;
        background-image: url(../pic/bck5.jpg);
    }

    .logo_icon img {
        display: block;
        width: 30vh;
        height: 25vh;
        margin: auto;
    }

    .carousel_images {
        overflow: hidden;
        width: calc(55%);
        height: 100vh;
        right: 150px;
    }

    .carousel_images img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    /* ===========<<DE-news_index>>============ */
    .news {
        border-radius: 50px 0 0 50px;
        font-weight: 400;
        padding: 20px 0 20px 0;
        font-size: 22px;
    }

    .news img {
        margin: 0 20px 0 20px;
    }

    .news a {
        margin-left: auto;
        font-size: 17px;
        width: 20vh;
        text-align: center;
        padding: 15px 0 15px 0;
        text-decoration: none;
        background-color: #37bfff;
        border-radius: 10px;
        color: #e6f5f7;
        z-index: 99;
        margin-right: 10px;
    }    

    /* ========<<DE-product_outline_comments>>====== */
    .product_outline_comments {
        position: relative;
    }

    .product_outline_img {
        width: 50vh;
    }

    .product_outline_comments::before {
        content: '';
        height: 70vh;
        width: 50vh;
        border-radius: 74% 75% 76% 77% / 62% 59% 63% 62%;
        box-shadow: 0 0 60px 50px inset #74a6cf33;
        position: absolute;
        top: 15%;
        right: 12%;
        z-index: 0;
    }
    .product_detail_mark {
        top: 290%;
    }
    /* ==============<<DE-ingredients=============== */
    .ingredients {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: -1;
        overflow: hidden;
    }

    .ingredients_detail {
        width: 40vh;
        z-index: 2;
    }

    .mountain {
        position: relative;
        height: 70vh;
    }

    .mountain img {
        width: 120%;
        height: 70vh;
    }

    .dec {
        position: absolute;
        top: 0;
        left: -15vh;
        width: 20vh;
        z-index: 1;
        border-top: 70.2vh solid #93e2ff;
        border-right: 15vh solid #00000000;
    }

    /* ==============<<DE-purchase>>=============== */
    .purchase h2::after {
        width: 13%;
    }

    .purchase_process {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .purchase_process .card {
        width: 25vh;
    }

    .purchase_process .card p {
        margin-top: 25px;
    }

    .purchase_process .card div {
        width: 10vw;
        height: 10vw;
        text-align: center;
        margin: auto;
    }
    .purchase_process div>i {
        font-size: 5vw;
    }

    /* ================<<DE-video>>================= */
    .youtube {
        padding: 2% 0 2% 0;
        height: 20vw;
        overflow: hidden;
        width: 80vw;
        border-radius: 10px;
    }

    #myVideo {
        width: 100%;
    }

    .youtube::before {
        font-weight: 900;
    }

    /* ================<<DE-footer>>================= */
    .logo_footer img {
        margin: auto;
        width: 60%;
    }

    .footer_divide {
        width: 70%;
    }

    .footer_divide ul {
        width: 20%;
        line-height: 30px;
        font-size: 16px;
    }
}
 