
body{
    background-image: url(../pic/bck3.jpg);
    position: relative;
}
h1{
    display: none;
}
#main_switch{
    display: none;
}
.content{
    position: fixed;
}
section{
    width: 100%;
}
:root{
    font-family: 'Kaisei Opti', serif;
    --color_text:#cad6d7;
    /* --color_text:#e6f5f7; */
}
:target::before{
    content: '';
    display: block;
    height: 100px;
}
#change{
    position: absolute;
    top:0;
    z-index: 10000;
    transition: ease;
    animation: changepage 3s 1;    
}
@keyframes changepage{
    from{
        top:0;
        width: 100%;
        height: 100%;
        background-color: #d1e5ec;
        }
    to{

        width: 0;
        height: 100%;
        background-color: #00ccff41;
    }
}
.circle_1{
    position: fixed;
    width: 30vw;
    height: 30vw;
    background-color: #65afc434;
    top: 50%;
    left: -2%;
    border-radius: 50%;
    z-index: -1;
    animation: flow 8s infinite alternate;
    transition: ease 3s;
}
.circle_2{
    position: fixed;
    /* border-top: solid 0px #c6effa34;
    border-right: solid 400px #c6effa34;
    border-bottom: solid 400px #3db7f000; */
    border-radius: 50%;
    background-color: #65afc434;
    top: -2%;
    right: -3%;
    z-index: -1;
    animation: flow_2 8s infinite alternate;
    transition: ease 3s;
}
@keyframes flow{
    from{
        width: 30vw;
        height:30vw;
        opacity: 0.5;
    }
    to{
        top: 45%;
        left: 0%;
        width: 35vw;
        height:35vw;
        opacity: 0.3;
    }
}
@keyframes flow_2{
    from{
        width: 25vw;
        height:25vw;
        opacity: 0.6;
        }
    to{
        width: 30vw;
        height:30vw;
        opacity: 0.3;
    }
}
.top_shoppingcar{
    position: fixed;
    right: 0;
    bottom: 9vw;
    z-index: 999;
    border-radius: 10px 0 0 0;
    overflow: hidden;
    border: 1px dashed #37bfff;
}
.top_shoppingcar div{
    height: 3vw;
    width: 3vw;
    background-color: #ffffffe7;
    text-align: center;
    display: flex;
}
.top{
    border-bottom: 1px dashed #37bfff;
}
.top_shoppingcar a{
    text-decoration: none;
    display: inline-block;
    margin: auto;
    font-size: 1.2em;
    color: #37bfff;
}

/* ============<<index>>================ */
header {
    display: flex;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d5ffff;
    box-shadow: 0 0 13px 5px inset #ffffffe5;
}

nav {
    background-color: #d5ffff;
    box-shadow: 0px 0px 8px 5px inset #ffffff99;
    z-index: 9999;
}

.nav_item li {
    display: block;
}

.nav_item a {
    text-decoration: none;
    display: block;
    color: #7DACBA;
    font-weight: 500;
    font-family: 'Kaisei Opti', serif;
    padding: 5px 0;
}

/* ============<<NO-product>>================ */
.roller{
    width: 100%;
    display: flex;
    /* overflow: hidden;
    height: 50%; */
    position: relative;
}
.roller::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: #ffffff00;
    z-index: 1;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow:0 0 40px 88px #eefdff;
}
.roller img{
    border-radius: 10px;
}
.product_roller img:nth-child(2n-1){
    width: 25%;
    /* height: 100%; */
    /* height: 10vh; */
    opacity: 1;
    animation-name: ice;
    animation-iteration-count:infinite;
    animation-duration: 2s;
    transition: ease ;
    animation-direction:alternate; 
}
@keyframes ice{
    from{
        opacity: 0.7;
    }
    to{
        opacity: 0.3;
    }
}
.product_roller img:nth-child(2n){
    width: 25%;
    /* height: 100%; */
    /* min-height: 5%; */
    opacity: 1;
    animation-name: ice2;
    animation-iteration-count:infinite;
    animation-duration: 2s;
    transition: ease 1s;
    animation-direction:alternate;    
}
@keyframes ice2{
    from{
        opacity: 0.3;
    }
    to{
        opacity: 0.7;
    }
}
/* ===============<<NO-type>>=================== */
.contents{
    width: 80%;
    margin: auto;
    position: relative;
    overflow: visible;
}
.type{
    background-image: url(../pic/wood.jpg);
    background-size: cover;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-direction: column;
    left: 3%;
    top: 0%;
    z-index: 99;
    overflow: visible;

}
.type h2{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
}
h3{
    position: relative;
    display: block;
    margin: auto;
}
h3::before{
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    content: '';
    width: 38vw;
    height: 40px;
    background-image: url(../pic/wood.jpg);
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.category{
    display: flex;
    box-sizing: border-box;
}
.category a{
    margin: 15px;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}
/* ===============<<NO-product_divide>>=================== */
.product_divide{
    box-sizing: border-box;
    margin: auto;
}
.product_divide h3{
    font-size: 26px;
    color: rgb(255, 255, 255);
}
.snow_ice_product{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    border-radius: 70% 70% 20% 20% / 50% 50% 10% 10%;
    border: 6px double #cae9f5;
    width: calc( 100% / 3 - 40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.item p{
    text-align: center;
    margin: 0 0 10px 0;
}
.item img{
    border-radius: 70% 70% 0% 0% / 70% 70% 10% 10%;
    margin: auto;
    display: flex;
    transition: ease 1s;
    z-index: 0;
}
.item_detail{
    z-index: 99;
}  
.item_detail h4{
    display:block;
    text-align: center;
    margin: 0px 0 10px 0;
    color: #5a99ad;
    padding: 10px 0;
    z-index:1;
    background-color: #cbf1ff;
}
.item_detail p{
    line-height: 25px;
    color: #5a99ad;
}
.item_detail button{
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color:#79c8ec;
    border-radius: 10px;
    border: #79c8ec;
    color: #e6f5f7;

}
.item_detail button:hover{
    box-shadow: inset 0 0 10px 2px #fff;
    color: #fff;
}
/* ================<<NO-footer>>================= */
footer {
    width: 100%;
    z-index: 99;
    background-image:linear-gradient(to top,#31a9d1d5 30%,#ffffff33 );
}

.container {
    padding-top: 3%;
    margin: auto;
    display: flex;
    width: 80%;
    border-bottom: 1px dashed #e3e5e9;
    justify-content: space-around;
}

.logo_footer img {
    display: block;
}

.footer_divide {
    display: flex;
    margin-top: auto;
}

.footer_divide ul {
    line-height: 30px;
    color: #3c6b80;
    margin: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer_divide a{
    text-decoration: none;
    color: #3c6b80;
}
.footer_divide ul:last-child {
    flex-direction: column;
}

.footer_divide li {
    font-size: 13px;
    line-height: 30px;
    display: inline-block;
}

.web {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_divide ul:last-child li {
    font-size: 22px;
}

.ru {
    text-align: center;
    font-size: 10px;
    color: #3c6b80;
    line-height: 20px;
    margin: auto;
    width: 80%;
}




/* ==============<<detail_collect>>================== */
.detail_collect{
    display: flex;
    position:fixed;
    top:0;
    background-color: #ffffffb2;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: none;
}
.collect{
    width: 50%;
    margin: auto;
    background-color: #FAFFFE;
    border-radius: 24px;
    display: flex;
}
.about_collect{
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about_collect i{
    text-align: right;
    font-size: 20px;
}
.collect img{
    width: 50%;
    border-radius: 24px 0 0 24px;
}
.choose_area{
    padding: 20px 0 20px 0;
}
.collect input{
    margin: 10px 3px 10px 0;
}
.nt{
    color: red;
    font-size: 25px;
    text-align: left;
}
.about_collect{
    padding: 20px;
}
/* =====================<<NO-news>>====================== */
.the_news{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
.the_news h2{
    text-align: center;
}
.contents_newsdivide{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    background-color: hsla(177, 100%, 92%, 0.795);
    border-radius: 10px;
}
.news_items{
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom:1px dashed #3c6b80;
    background-color: #fff;
}

.news_items img{
    border-radius: 100%;

}
.rest{
    background-color: hsla(177, 100%, 92%, 0.795);
    border-radius: 10px;
}
.rest_items{
    margin: auto;
    text-align: center;
    background-color: #fff;

}

/* =====================<<ig>>====================== */
.news_content{
    position: relative;
    width: 100%;
}
.news_content::before{
    position: absolute;
    top: 0;
    content: '';
    width: 69%;
    height: 29vw;
    border: 8px double #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    box-shadow:  0px 0px 15px 5px inset #ffffff;
}
.decorate{
    width: 70%;
    height: 30vw;
    overflow: hidden;
    margin: auto;
}
.decorate img{
    width: 100%;
}
.ig_news{
    margin: 4vw  0;
}
.contents_ig{
    margin: auto;
    overflow: hidden;
    background-color: #ffffff;
}
.ig_title{
    display: flex;
    align-items: center;
    border-bottom:1px dashed #5a99ad;
}
.ig_title img{
    margin: 0 1vw;
}
.ig_title span:last-child{
    color: #34bfe2;
}
.ig_detail p{
    width: 80%;
    margin-left: auto;
}
.ig_icon{
    display: flex;
    justify-content: right;
}
.ig_icon i{
    -webkit-text-stroke:2px #000000;
    font-size: 22px;
    color: #fff;
}
.fa-heart:hover{
    color:red;
}
.fa-comment:hover{
    color:rgb(255, 251, 4);
}
.fa-paper-plane:hover{
    color:rgb(0, 89, 255);
}
.fa-bookmark:hover{
    color:rgb(255, 145, 0);
}
/* ========<<NO-ingredients>>======= */
.ingredients_bck{
    width: 100%;
}
.ingredient_detail h2{
    text-align: center;
    line-height: 30px;
    margin: 20px 0;
    color: rgb(13, 89, 119);
}
.ingredient_detail{
    margin: auto;
}
.ingredients_inner{
    width: 96.5%;
    margin: auto;
    position: relative;
}
.ingredients_inner::before{
    content: '';
    width: 82%;
    height: 30vw;
    left: 9%;
    top: 10%;
    position: absolute;
}
.ingredients_items{
    width: 100%;
    position: relative;
    margin: 2vw 0;
}
.ingredients_items p{
    line-height: 35px;
    height: 80%;
    background-image: linear-gradient(180deg, #cbf9ff 29%, #f5fcffb6 90%,#ff000000 100%);
}
.ingredients_items p:last-child{
    margin-left: auto;
    right: 0;
}
.ingredients_items p:first-child{
    left: 0;
}
.ingredients_items:first-child img{
    width: 30%;
    border-radius: 10px;
}
.ingredients_items:nth-child(2) img{
    width: 30%;
    border-radius: 10px;
    margin-left: auto;
    display: block;
}

.small_ingredients,.bigger_ingredients{
    justify-content: space-around;
    display: flex;
    width: 70%;
    margin: auto;
}
.small_ingredients img{
    border-radius: 10px;
    width: 30%;
    margin: 1vw 0;
}
.ingredirnts_outside{
    position: relative;
}
.ingredirnts_outside::before{
    position: absolute;
    content: '';
    width: 65%;
    height: 35vw;
    border:6px double #fff;
    z-index: 1;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bigger_ingredients{
    border-radius: 24px;
}
.bigger_ingredients div{
    position: absolute;
    margin: auto;
    width: 50%;
    height: 6vw;
    top: 65%;
    bottom: 0;
    box-sizing: border-box;
    line-height: 20px;
    background-color: #ffffff8c;
    padding: 1vw;
    color: rgb(13, 89, 119);
    z-index: 1;

}
.bigger_ingredients img{
    border-radius: 10px;
    width: 96.5%;
    height: 40vw;
    margin: 1vw 0 1vw  0;
    position: relative;
    z-index: 0;
}

/* ==========<<online>>============ */
.purchase {
    width: 80%;
    margin: auto;
    padding: 10px 0;
}

.purchase h2 {
    /* font-size: 16px; */
    color: #39aee4;
    position: relative;
    text-align: center;
}

/* .purchase h2::after {
    position: absolute;
    top: 105%;
    content: '';
    height: 2px;
    width: 10%;
    background-color: #3db7f088;
    z-index: 10;
} */

.purchase_process .card p {
    color: #39aee4;
    text-align: center;
}

.purchase_process .card div {
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    opacity: 0.8;
}

.purchase_process div>i {
    color: #3db7f0;
    display: block;
    margin: auto;
    opacity: 0.7;
}

.purchase_process>i {
    font-size: 30px;
    color: #79c8ec;
}

.browse {
    display: flex;
    justify-content: center;
}

.purchase a {
    font-size: 18px;
    margin-top: 6vh;
    margin-bottom: 6vh;
    display: inline-block;
    width: 33vh;
    text-align: center;
    padding: 20px 0 20px 0;
    text-decoration: none;
    background-color: #37bfff;
    border-radius: 10px;
    color: #e6f5f7;
}
/* =======<<timer>>========== */
.timer{
    width: 80%;
    padding: 20px 0;
    margin: auto;

}
.estimate{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
/* =======<<purchase_detail>>========== */
.purchase_detail{
    width: 80%;
    margin: auto;
    background-color: #ffffff69;
    box-sizing: border-box;
    padding: 1vw;
    border-radius: 10px;

}
table{
    /* border: 1px solid #3c6b80; */
    width: 100%;
    text-align: center;
    margin: 10px 0;
    line-height: 30px;
    align-items: center;
}
caption{
    line-height: 15px;
    margin-bottom: 15px;
}
tr{
    border: 1px solid #3c6b80;
}
.num{
    width: 2vw;
}
.total{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    justify-content: right;
    text-align: center;
}
.total span{
    margin: 5px;
}
.total a{
    font-size: 16px;
    display: inline-block;
    width: 25vh;
    text-align: center;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: #37bfff;
    border-radius: 10px;
    color: #e6f5f7;
    margin: auto;
}
.total a:hover{
    box-shadow: inset 0 0 10px 3px #fff;
    color: #fff;
}
.contents_contact{
    width: 60%;
    margin: auto;
}
.about_bck{
    width: 100%;
}
.about_pic_bck{
    margin: auto;
    background-image: url(../pic/bck_about4.jpg);
    width: 60%;
    height: 23vw;
    background-attachment: fixed;
    background-position: top;
    background-size: 65%;
}
.about_detail [class*="about_pic"]{
    width: 40%;
    height: 40vh;
    background-attachment: fixed;
} 
.about_us{
    box-sizing: border-box;
    border: 6px double #9fe6e6;
    padding: 1vw;
    width: 55%;
    margin: auto;
}
.about_us p{
    line-height: 25px;
}
.about_pic1{
    margin-left: auto;
    background-image:url(../pic/bck_about19.jpg);
    background-position:60% 40%;
    background-size: contain;
}
.about_pic2{
    margin-right: auto;
    background-image:url(../pic/bck_about10.jpg) ;
    background-position: 30% 80%;
    background-size: contain;
    
}
.about_detail{
    display: flex;
    margin: 30px 0;
    overflow: hidden;
}
.map{
    width: 40%;
    height: 25vw;
    margin-left: auto;
}
/* =======<<CE-cellphone>>============ */
/* =============<<about>>=========== */

@media screen and ( max-width: 991px){
    .top_shoppingcar{
        bottom: 15vw;
    }
    .top_shoppingcar div{
        height: 10vw;
        width: 10vw;
    }
    .top_shoppingcar a{
        font-size: 1em;
    }
    .circle_1{
        display: none;
    }
    .circle_2{
        display: none;
    }
    .trangle{
        display: none;
    }
    .content img{
        width: 66px;
        height: 46px;
        margin: 0 0 0 18px;
    }
    header{
        position: relative;
    }
    .content{
        width: 95%;
        display: flex;
        justify-content: space-between;
        border-radius: 26px 0 0 26px;
        margin-top: 10px;
        z-index: 101;
        position: fixed;
        right: 0;
    }
    nav{
        position: absolute;
        padding: 30px 0 20px 25px;
        z-index: -1;
        top: 50%;
        width: 100%;
        display: none;
        border-radius: 0 0 0 26px;
        box-shadow: 7px -8px 10px 3px inset #ffffffe5;

    }
    .content label{
        font-size: 20px;
        color: #7DACBA;
        margin-right: 20px;
    }
    .nav_item li{
        display: block;
        border-bottom:0.5px dashed #7DACBA;
    }
    .nav_item a{
        line-height: 44px;
        font-size: 18px;
    }
    #main_switch:checked~.content nav{
        display: block;
    }
    /* ============<<CE-product>>================ */
    .roller{
        /* height: 120px; */
        transition: ease;
    }
    .product_roller img:nth-child(n){
        width: 33%;
        /* max-height: 0.5%; */
        /* min-height: 3%; */
    }
    .product_roller img:last-child,.product_roller img:nth-child(4){
        display: none;
    }
    /* ================<<CE-footer>>================= */
    .logo_footer img {
        width: 20%;
    }

    .container {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .footer_divide {
        width: 100%;
        flex-wrap: wrap;
    }

    .footer_divide ul{
        margin: auto;
        width: 40%;
        font-size: 15px;
    }
    .footer_divide li{
        font-size: 10px;
    }
    .web i{
        font-size: 14px;
    }
    .ru{
        margin-top: 5px;
        font-size: 8px;
        line-height: 16px;
    }
    /* ===============<<NO-type>>=================== */
    .contents{
        text-align: center;
        display: block;
    }
    .type{
        box-sizing: border-box;
        align-items: center;
        width: 80%;
        top: 7vw;
        margin: 20px auto;
        height: auto;
        z-index: 100;
    }
    .type h2{
        margin: auto;
    }

    .category{
        flex-direction: row;

    }
    h3::before{
        width: 37vw;
        height: 40px;

    }
    .category a{
        display: block;
        margin:6px 7px;
        font-size: 20px;
    }
    /* ===============<<CE-product_divide>>=================== */
    .item{
        margin: auto;
        margin: 10px;
        box-sizing: border-box;
        width: calc( 100%/2 - 20px);
    }
    .item img{
        /* border-radius: 50%; */
        width: 33vw;
        height: 30vw;
    }
    .item::before{
        width: 94%;
        top: 1vw;
    }
    /* ==============<<detail_collect>>================== */
    .detail_collect{
        overflow: auto;
    }
    .collect{
        width: 80%;
        display: block;
        position: relative;
    }
    #close{
        position: absolute;
        top: 2vw;
        right: 3vw;
        text-align: right;
        font-size: 24px;
        color: var(--color_text);
    }
    .collect img{
        width: 100%;
        border-radius: 24px 24px 0  0 ;
    }
    .choose_area{
        padding: 5px 0 5px 0;
    }
    .collect input{
        margin: 5px 3px 5px 0;
    }
    .nt{
        color: red;
        font-size: 20px;
        text-align: left;
    }

/* =====================<<CE-news>>====================== */
    .news_content{
        padding-top: 20vw;
        width: 90%;
        /* margin: 20vw 0 0 0; */
        margin: auto;
    }
    .decorate{
        width: 90%;
    }
    .decorate img{
        width: 100%;
    }
    .news_content::before{
        border: 1px solid #fff;
        margin: auto;
        left: 0;
        top: 20vw ;
        width: 88%;
        height: 28vw;

    }
    .the_news{
        display: block;
        width: 100%;
        padding: 20vw 0;
    }
    .the_news h2{
        margin: 15px 0;
    }
    .contents_newsdivide{
        margin: auto;
        width: 90%;
        padding: 5vw 3vw;
    }
    .news_items{
        padding: 2.5vw 1vw;
        box-shadow: 0 0 5px 5px inset  hsla(177, 100%, 92%, 0.795);
    }
    .news_items span{
        margin: 0 2vw;
        font-size: 13px;
    }
    .news_items img{
        width: 13.5vw;
        height: 8vw;
    }
    .rest{
        margin-top: 10vw;
        padding: 5vw 3vw;
    }
    .rest_items{
        margin: 5vw ;
        box-shadow: 0 0 4px 3px inset  hsla(177, 100%, 92%, 0.795);
    }

/* =============<<CE-ig>>============= */
    .contents_ig{
        display: block;
        width: 80%;
    }
    .contents_ig>img{
        width: 80%;
        margin: auto;
        display: block;
    }    
    .ig_title img{
        margin: 0 1.5vw;
    }
    .ig_detail{
        padding: 5vw;
    }
    .ig_detail p{
        margin-top:3vw;
    }
    .ig_icon i{
        margin-top: 5vw;
        margin: 2vw;
    }
 /* ========<<CE-ingredients>>===== */  
    canvas{
        display: none;
    }
    .ingredient_detail{
        width: 90%;
    } 
    .ingredient_detail h2{
        font-size: 16px;
    }
    .ingredients_items p{
        padding:2vw;
        font-size: 13px;
        z-index: 1;
        line-height: 20px;
    }
    .ingredients_items p:last-child{
        width: 60%;
        margin-left: auto;
    }
    .ingredients_items p:first-child{
        width: 60%;
        margin-right: auto;
    }
    .ingredients_items img:first-child{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    } 
    .ingredients_items img:nth-child(2){
        position: absolute;
        bottom: -5vw;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    } 
    .conduct_picture img{
        margin: 2px;
    }
    .bigger_ingredients{
        display: none;
    }
    .ingredirnts_outside::before{
        display: none;
    }
    .small{
        position: relative;
        /* width: 100%; */
    }
    .small::before{
        position: absolute;
        content: '⇶';
        color: #fff;
        font-size: 30px;
        text-align: center;
        line-height: 50px;
        top: 30vw;
        width: 10vw;
        height: 13vw;
        background-color: rgba(201, 227, 244, 0.79)
        ;
        z-index: 1;
        transition: width ease 1.5s, background-color ease 4s;
    }
    .small:hover.small_list_1::before{
        content: '員工定期專業培訓';
        font-size: 24px;
        width: 68vw;
        background-color: rgba(28, 9, 9, 0.521)
        ;
        white-space: nowrap;
        overflow: hidden;
    }
    .small:hover.small_list_2::before{
        content: '高品質衛生管理';
        font-size: 24px;
        width: 68vw;
        background-color: rgba(28, 9, 9, 0.521)
        ;
        white-space: nowrap;
        overflow: hidden;
    }
    .small:hover.small_list_3::before{
        content: '食安高標檢測';
        font-size: 24px;
        width: 68vw;
        background-color: rgba(28, 9, 9, 0.521)
        ;
        white-space: nowrap;
        overflow: hidden;

    }
    
    .small_ingredients{
        flex-wrap: wrap;
    }
    .small_ingredients img{
        width: 70vw;
        height: 40vw;
        margin: 3vw 0;
        /* opacity: 0; */
    }
   /* ==========<<CE-online>>============ */

    .purchase {
        width: 70%;
        padding-top: 3vw;
    }
    .purchase h2 {
        font-size: 24px;
        margin: 18% 0 5% 0;
    }

    .purchase h2::after {
        width: 20%;
    }
    .purchase_detail{
        margin-bottom: 20px;
    }
    .purchase_process {
        display: flex;
        /* flex-direction: column; */
    }

    .purchase_process .card {
        /* width: 60%; */
        margin: auto;
    }

    .purchase_process .card p {
        margin: 15px 0 15px 0;
        font-size: 10px;

    }

    .purchase_process .card div {
        margin-top: 20px;
        width: 10vw;
        height: 10vw;
        border: 3px  double #3db7f0C2;
    }

    .purchase_process>i {
        /* transform: rotate(90deg); */
        margin: auto;
        display: inline-block;
        font-size: 10px;
    }
    .purchase_process div>i {
        font-size: 5vw;
    }
    .total{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    /* =======<<timer>>========== */
   /* =======<<CE-about_detail>>========== */ 
    
    
    .contents_contact{
        width: 93%;
    }
    .about_bck{
        padding-top: 20vw;
    }
    .about_pic_bck{
        width: 93%;
        padding-top: 18vw;
        background-size: 100%;
        background-position: center;

    }
    .about_us{
        padding: 0.5vw;
    }
    .about_us p{
        line-height: 20px;
        font-size: 13px;
    }
    .about_pic1{
        background-position:40% 0%;
        background-size: auto auto;
    }
    .about_pic2{
        background-position: 40% 65%;
        background-size: auto auto;
    }
    .map{
        /* width: 40%; */
        /* height: 10vw; */
        margin-left: auto;
    }
}
/* =============<<FP-desktop>>================ */
@media screen and ( min-width: 668px){
    .product_roller img:nth-child(n){
        width: 25%;
    }
    .product_roller img:nth-child(4){
        display: block;
    }
    .product_roller img:last-child{
        display: none;
    }
    /* ===============<<FP-type>>=================== */
    .contents{
        width: 85%;
    }
    h3::before{
        bottom: -1vw;
        width: 18vw;
    }
    .category{
        display: flex;
        flex-direction: row;
    }
    .item{
        margin: 20px;
    }

    /* ================<<FP-footer>>================= */
    .logo_footer img{
        margin: auto;
        width: 60%;
    }
    .footer_divide{
        width: 100%;
    }
    .footer_divide ul{
        width: 20%;
        line-height: 20px;
        font-size: 16px;
    }
    /* ==============<<FP-detail_collect>>================== */
    .collect{
        width: 70%;
    }
    .bigger_ingredients div{
        width: 65%;
        height: 8vw;
    }
}
   /* =============<<DE-desktop>>================ */
@media screen and ( min-width: 992px){
    header {
        /* padding: 20px; */
        justify-content: right;
    }

    .content {
        width: 40vw;
        /* width: 500px; */
        margin: 20px 30px 0 0;
        z-index: 999;
        border-radius: 24px;
        transition: ease 1s;

    }

    .content img {
        margin:0  30px;
        width: 60px;
        position: absolute;
        top: 0;
        display: none;
    }

   nav {
        width:40vw;
        border-radius: 24px;
        margin-left:auto ;
        box-shadow: none;
        background-color:#ffffff00;
    }

    .nav_item {
        display: flex;
        justify-content: space-around;
        margin: 5px 0;
    }


    .nav_item li {
        box-sizing: border-box;
        display: inline-block;
        font-size: 15px;
        margin: 5px 0 5px 0;
        position: relative;
    }
    .nav_li::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        top: 93%;
        background-color: rgba(57, 187, 226, 0.555);
        opacity: 0;
    }    
    /* .nav_item li:hover{ */
        /* border-bottom:2px solid rgba(57, 187, 226, 0.555); */
    /* } */
    .nav_li:hover.nav_li::after{
        opacity: 1;
    }

    /* =============<<DE-type>>============== */
    .content label {
        display: none;
    }

    .product_roller img:nth-child(n){
        width: 20%;
    }
    .product_roller img:last-child,.product_roller img:nth-child(4){
        display:block;
    }
    .contents{
        display: flex;
        width: 80%;
    }
    .type{
        align-items: center;
        width: 10%;
        padding: 6px;
        height: 410px;
        margin-top: 50px;
        text-align: center;
        top: 5vw;
    }
    .type h2{
        text-align: center;
        font-size: 26px;
        flex-direction:column;
        width: 30px;
    }
    .category{
        flex-direction: column;
    }

    /* ===============<<NO-product_divide>>=================== */
    .product_divide h3{
        margin-top: 20px;
    }

    .product_divide h3{
        padding-top: 10px;
        font-size: 28px;
        text-align: center;
    }
    .item{
        box-sizing: border-box;
        margin: 25px;
        width: calc( 100% / 3 - 60px);
        padding: 0  0 1.5% 0;
    }
    .item img{
        width: 20vw;
        margin: auto;
        display: flex;
        height: 22vw;
    }  
    .item:hover img{
        transform: scale(1.10);
    }
    /* ================<<NO-footer>>================= */
    .logo_footer img {
        margin: auto;
        width: 60%;
    }

    .footer_divide {
        width: 70%;
    }

    .footer_divide ul {
        width: 20%;
        line-height: 30px;
        font-size: 16px;
    }

    /* ==============<<detail_collect>>================== */
    .collect{
        width: 50%;
    }
    .collect img{
        width: 50%;
        border-radius: 24px 0 0 24px;
    }
    .choose_area{
        padding: 20px 0 20px 0;
    }
    .collect input{
        margin: 10px 3px 10px 0;
    }
/* =====================<<DE-news>>====================== */
    .the_news{  
        padding: 10vw 0;
    }
    .the_news h2{
        margin: 10px 0;
        text-decoration:underline 2px rgb(15, 8, 8);
        text-underline-offset:0.5em;
     
    }
    .contents_newsdivide{
        padding: 1vw 1vw;
    }
    .news_items{
        padding: 1vw 1vw;
        box-shadow: 0 0 10px 10px inset  hsla(177, 100%, 92%, 0.795);

    }
    .news_items span{
        margin: 0 1vw;
    }
    .news_items img{
        width: 4vw;
        height: 4vw;
    }
    .rest{
        padding: 1vw 1vw;
    }
    .rest_items{
        margin: 30px;
        width: 10vw;
        box-shadow: 0 0 5px 3px inset  hsla(177, 100%, 92%, 0.795);

    }
/* ===========<<DE-ig>>=============== */
    .contents_ig{
        display: flex;
        width: 70%;
    }

    .contents_ig>img{
        width: 40%;
    }
    .ig_title img{
        margin: 0 1.3vw;
    }
    .ig_detail{
        padding: 3vw;
    }
    .ig_detail p{
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .ig_icon i{
        margin-top: 3vw;
        margin: 0.5vw;
    }
/* ========<<DE-ingredients>>======= */
    .ingredients_inner div:first-child{
        margin-bottom: 70px;
        /* background-color: #3c6b80; */
        background-image: linear-gradient(to right , rgba(127, 233, 224, 0) 0%,rgba(167, 227, 245, 0.61) 15%,rgba(255, 255, 255, 0) 60%);
    }
    .ingredients_inner div:nth-child(2){
        margin-bottom: 60px;
        /* background-color: #3c6b80; */
        background-image: linear-gradient(to left , rgba(127, 233, 224, 0) 0%,rgba(167, 227, 245, 0.61) 10%,rgba(255, 255, 255, 0) 50%);
        padding-bottom: 10px;
    }
    .ingredient_water{
        display: flex;
        position: relative;
    }   
    canvas{
        position: absolute;
        display: flex;
        bottom: 0;
        left: 0;
    }
    .ingredients_items span{
        color: #3c6b80;
        font-size: 20px;
        /* font-weight: 600; */
        position: relative;
    }
    .water_bubble::before{
        content: '';
        position: absolute;
        top: 100%;
        height: 2px;
        width: 55vw;
        background-color: #3c6b80;
    }
    .mango_taro::before{
        content: '';
        position: absolute;
        top: 100%;
        right: 0;
        height: 2px;
        width: 55vw;
        background-color: #3c6b80;
    }
    .ingredient_detail{
        width: 70%;
    }
    .ingredient_detail h2{
        font-size: 24px;
    }

    .ingredients_items p{
        position: absolute;
        display: block;
        width: 60%;
        /* margin: auto; */
        top: 30%;
        /* left: 20%; */
        padding: 10px;
        /* border-radius: 10px; */
        color: #274553;
    }
    .conduct_picture img{
        margin: 10px;
    }
    .small{
        width: 30%;
    }
    .small img{
        width: 100%;
        height: 15vw;
    }
    #bigPic{
        opacity: 0.5;
        transition: ease 3s;
    }
    .bigger_ingredients div{
        width: 50vw;
        height: 6vw;

    }
    /* ==========<<DE-online>>============ */
    .purchase h2 {
        margin: 8% 0 5% 0;
        font-size: 26px;
    }
    .purchase_process {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .purchase_process .card {
        width: 25vh;
    }

    .purchase_process .card p {
        margin-top: 25px;
        font-size: 28px;

    }

    .purchase_process .card div {
        /* padding: 17%; */
        width: 10vw;
        height: 10vw;
        text-align: center;
        margin: auto;
        border: 8px  double #3db7f0C2;

    }
    .purchase_process div>i {
        font-size: 5vw;
    }
    /* =======<<DE-timer>>========== */
    /* /*  */
    /* =======<<DE-about_detail>>======= */
    .contents_contact{
        width: 60%;
    }
    .about_pic_bck{
        width: 60%;
        margin-top: 0vw;
        background-size: 65%;
    }
} 