body{
    background-image: url(../pic/bck3.jpg);
    position: relative;
}
h1{
    display: none;
}
#main_switch{
    display: none;
}
.content{
    position: fixed;
}
section{
    width: 100%;
}
:root{
    font-family: 'Kaisei Opti', serif;
    --color_text:#cad6d7;
    /* --color_text:#e6f5f7; */
}
:target::before{
    content: '';
    display: block;
    height: 100px;
}
/* ============<<index>>================ */
header {
    display: flex;
    /* background-color: aquamarine; */
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d5ffff;
    box-shadow: 0 0 13px 5px inset #ffffffe5;
}

nav {
    background-color: #d5ffff;
    box-shadow: 0px 0px 8px 5px inset #ffffff99;
    z-index: 9999;
}

.nav_item li {
    display: block;
}

.nav_item a {
    text-decoration: none;
    display: block;
    color: #7DACBA;
    font-weight: 500;
    font-family: 'Kaisei Opti', serif;
}

/* ============<<NO-product>>================ */
.roller{
    width: 100%;
    display: flex;
    /* overflow: hidden;
    height: 50%; */
    position: relative;
}
.roller::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: #ffffff00;
    z-index: 1;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow:0 0 40px 88px #eefdff;
}
.roller img{
    border-radius: 10px;
}
.product_roller img:nth-child(2n-1){
    width: 25%;
    /* height: 100%; */
    /* height: 10vh; */
    opacity: 1;
    animation-name: ice;
    animation-iteration-count:infinite;
    animation-duration: 3s;
    transition: ease ;
    animation-direction:alternate; 
}
@keyframes ice{
    from{
        opacity: 0.7;
    }
    to{
        opacity: 0.3;
    }
}
.product_roller img:nth-child(2n){
    width: 25%;
    /* height: 100%; */
    /* min-height: 5%; */
    opacity: 1;
    animation-name: ice2;
    animation-iteration-count:infinite;
    animation-duration: 2.5s;
    transition: ease 1s;
    animation-direction:alternate;    
}
@keyframes ice2{
    from{
        opacity: 0.3;
    }
    to{
        opacity: 0.7;
    }
}
/* ===============<<NO-type>>=================== */
.contents{
    width: 80%;
    margin: auto;
    position: relative;
}
.type{
    background-image: url(../pic/wood.jpg);
    background-size: cover;
    border-radius: 10px;
    position: sticky;
    display: flex;
    flex-direction: column;
    left: 3%;
    top: 0%;
    z-index: 99;
}
.type h2{
    font-size: 26px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
}
h3{
    position: relative;
    display: block;
    margin: auto;
}
h3::before{
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    content: '';
    width: 38vw;
    height: 40px;
    background-image: url(../pic/wood.jpg);
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.category{
    display: flex;
    box-sizing: border-box;
}
.category a{
    margin: 15px;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}
/* ===============<<NO-product_divide>>=================== */
.product_divide{
    box-sizing: border-box;
    margin: auto;
}
.product_divide h3{
    /* padding-top: 90px; */
    font-size: 26px;
    color: #fff;
}
.snow_ice_product{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: calc( 100% / 3 - 40px);
}
.item img{
    border-radius: 10px;
    width: 100%;
}  
.item_detail h4{
    display:block;
    text-align: center;
    margin: 10px 0 10px 0;
    color: #5a99ad;
}
.item_detail p{
    line-height: 25px;
    margin-bottom: 10px;
    color: #5a99ad;
}
.item_detail button{
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color:#79c8ec;
    border-radius: 10px;
    border: #79c8ec;
    color: #e6f5f7;

}
/* ================<<NO-footer>>================= */
footer {
    width: 100%;
    z-index: 99;
    background-image:linear-gradient(to top,#31a9d1d5 10%,#ffffff33);
}

.container {
    padding: 3%;
    margin: auto;
    display: flex;
    width: 80%;
}

.logo_footer img {
    display: block;
}

.footer_divide {
    display: flex;
    margin: auto;
}

.footer_divide ul {
    line-height: 30px;
    color: #3c6b80;
    margin: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer_divide ul:last-child {
    flex-direction: column;
}

.footer_divide li {
    font-size: 16px;
    line-height: 30px;
    display: inline-block;
}

.web {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_divide ul:last-child li {
    font-size: 25px;
}

.ru {
    text-align: center;
    font-size: 12px;
    color: #3c6b80;
    line-height: 20px;
}

/* ==============<<detail_collect>>================== */
.detail_collect{
    display: flex;
    position:fixed;
    top:0;
    background-color: #ffffffb2;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: none;
}
.collect{
    width: 50%;
    margin: auto;
    background-color: #FAFFFE;
    border-radius: 24px;
    display: flex;
}
.about_collect{
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about_collect i{
    text-align: right;
    font-size: 20px;
}
.collect img{
    width: 50%;
    border-radius: 24px 0 0 24px;
}
.choose_area{
    padding: 20px 0 20px 0;
}
.collect input{
    margin: 10px 3px 10px 0;
}
.nt{
    color: red;
    font-size: 25px;
    text-align: left;
}
.about_collect{
    padding: 20px;
}
/* =====================<<NO-news>>====================== */
.the_news{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
.the_news h2{
    text-align: center;
}
.contents_newsdivide{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    background-color: hsla(177, 100%, 92%, 0.795);
    border-radius: 10px;
}
.news_items{
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom:1px dashed #3c6b80;
    background-color: #fff;
}

.news_items img{
    border-radius: 100%;

}
.rest{
    background-color: hsla(177, 100%, 92%, 0.795);
    border-radius: 10px;
}
.rest_items{
    margin: auto;
    text-align: center;
    background-color: #fff;

}
/* =====================<<ig>>====================== */
.contents_ig{
    margin: auto;
    overflow: hidden;
    background-color: #ffffff;
}
.ig_title{
    display: flex;
    align-items: center;
    border-bottom:1px dashed #5a99ad;
}
.ig_title img{
    margin: 0 1vw;
}
.ig_title span:last-child{
    color: #34bfe2;
}
.ig_detail{
    padding: 0px;
}
.ig_detail p{
    width: 80%;
    margin-left: auto;
}
.ig_icon{
    display: flex;
    justify-content: right;
}
.ig_icon i{
    -webkit-text-stroke:2px #000000;
    font-size: 22px;
    color: #fff;
}
/* ========<<NO-ingredients>>======= */
.ingredients_bck{
    width: 100%;
}
.ingredient_detail h2{
    text-align: center;
}
.ingredient_detail{
    margin: auto;
}
.ingredients_inner{
    width: 90%;
    margin: auto;
}
.ingredients_items{
    width: 100%;
    /* margin: auto; */
    position: relative;
}
.ingredients_items p{
    background-color: rgba(206, 240, 253, 0.856);
}
.ingredients_items:first-child img{
    width: 30%;
    border-radius: 10px;
}
.ingredients_items:nth-child(2) img{
    width: 30%;
    border-radius: 10px;
    margin-left: auto;
    display: block;
}
.conduct_picture{
    width: 100%;
    flex-wrap: wrap;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 30px auto;
}

.conduct_picture img:nth-child(1),.conduct_picture img:nth-child(4){
    width: 60%;
}
.conduct_picture img:nth-child(2),.conduct_picture img:nth-child(3){
    width: 35%;
}
/* ==========<<online>>============ */
.purchase {
    width: 80%;
    margin: auto;
    padding: 10px 0;
}

.purchase h2 {
    color: #39aee4;
    position: relative;
}

.purchase h2::after {
    position: absolute;
    top: 105%;
    content: '';
    height: 3px;
    width: 10%;
    background-color: #3db7f088;
    z-index: 10;
}

.purchase_process .card p {
    color: #39aee4;
    text-align: center;
}

.purchase_process .card div {
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    opacity: 0.8;
}

.purchase_process div>i {
    color: #3db7f0;
    display: block;
    margin: auto;
    opacity: 0.7;
}

.purchase_process>i {
    font-size: 30px;
    color: #79c8ec;
}

.browse {
    display: flex;
    justify-content: center;
}

.purchase a {
    font-size: 18px;
    margin-top: 6vh;
    margin-bottom: 6vh;
    display: inline-block;
    width: 33vh;
    text-align: center;
    padding: 20px 0 20px 0;
    text-decoration: none;
    background-color: #37bfff;
    border-radius: 10px;
    color: #e6f5f7;
}
/* =======<<timer>>========== */
.timer{
    width: 80%;
    padding: 20px 0;
    margin: auto;
}
.estimate{
    display: flex;
    margin-left: auto;
    align-items: center;
}
/* =======<<purchase_detail>>========== */
.purchase_detail{
    width: 80%;
    margin: auto;
}
table{
    /* border: 1px solid #3c6b80; */
    width: 100%;
    text-align: center;
    margin: 10px 0;
    line-height: 30px;
    align-items: center;
}
caption{
    line-height: 30px;
}
tr{
    border: 1px solid #3c6b80;
}
.num{
    width: 2vw;
}
.total{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    justify-content: right;
    text-align: center;
}
.total span{
    margin: 5px;
}
.total a{
    font-size: 16px;
    display: inline-block;
    width: 25vh;
    text-align: center;
    padding: 5px 0 5px 0;
    text-decoration: none;
    background-color: #37bfff;
    border-radius: 10px;
    color: #e6f5f7;
    margin: auto;
}
/* =======<<CE-cellphone>>============ */
@media screen and ( max-width: 991px){
    .content img{
        width: 66px;
        height: 46px;
        margin: 0 0 0 18px;
    }
    header{
        position: relative;
    }
    .content{
        width: 95%;
        display: flex;
        justify-content: space-between;
        border-radius: 26px 0 0 26px;
        margin-top: 10px;
        z-index: 100;
        position: fixed;
        right: 0;
    }
    nav{
        position: absolute;
        padding: 30px 0 20px 25px;
        z-index: -1;
        top: 50%;
        width: 100%;
        display: none;
        border-radius: 0 0 0 26px;
        box-shadow: 7px -8px 10px 3px inset #ffffffe5;

    }
    .content label{
        font-size: 20px;
        color: #7DACBA;
        margin-right: 20px;
    }
    .nav_item li{
        display: block;
        border-bottom:0.5px dashed #7DACBA;
    }
    .nav_item a{
        line-height: 44px;
        font-size: 18px;
    }
    #main_switch:checked~.content nav{
        display: block;
    }
    /* ============<<CE-product>>================ */
    .roller{
        /* height: 120px; */
        transition: ease;
    }
    .product_roller img:nth-child(n){
        width: 33%;
        /* max-height: 0.5%; */
        /* min-height: 3%; */
    }
    .product_roller img:last-child,.product_roller img:nth-child(4){
        display: none;
    }
    /* ================<<CE-footer>>================= */
    .logo_footer img{
        width: 20%;
    }
    .container{
        flex-direction: column;
    }
    .footer_divide{
        width: 100%;
        flex-wrap: wrap;
    }
    .footer_divide ul{
        margin: auto;
        width: 40%;
        font-size: 18px;
    }
    /* ===============<<NO-type>>=================== */
    .contents{
        text-align: center;
        display: block;
    }
    .type{
        box-sizing: border-box;
        align-items: center;
        width: 80%;
        top: 7vw;
        margin: 20px auto;
        height: auto;
    }
    .type h2{
        margin: auto;
    }

    .category{
        flex-direction: row;

    }
    h3::before{
        width: 37vw;
        height: 40px;

    }
    .category a{
        display: block;
        margin:6px 7px;
        font-size: 20px;
    }
    /* ===============<<CE-product_divide>>=================== */
    .item{
        margin: auto;
        margin: 20px;
        width: calc( 100% - 30px);
    }
    /* ==============<<detail_collect>>================== */
    .detail_collect{
        overflow: auto;
    }
    .collect{
        width: 80%;
        display: block;
        position: relative;
    }
    #close{
        position: absolute;
        top: 2vw;
        right: 3vw;
        text-align: right;
        font-size: 24px;
        color: var(--color_text);
    }
    .collect img{
        width: 100%;
        border-radius: 24px 24px 0  0 ;
    }
    .choose_area{
        padding: 5px 0 5px 0;
    }
    .collect input{
        margin: 5px 3px 5px 0;
    }
    .nt{
        color: red;
        font-size: 20px;
        text-align: left;
    }

/* =====================<<CE-news>>====================== */
    .the_news{
        display: block;
        width: 100%;
        padding: 20vw 0;
    }
    .the_news h2{
        margin: 15px 0;
    }
    .contents_newsdivide{
        margin: auto;
        width: 90%;
        padding: 5vw 3vw;
    }
    .news_items{
        padding: 2.5vw 1vw;
        box-shadow: 0 0 5px 5px inset  hsla(177, 100%, 92%, 0.795);
    }
    .news_items span{
        margin: 0 2vw;
        font-size: 13px;
    }
    .news_items img{
        width: 13.5vw;
        height: 8vw;
    }
    .rest{
        margin-top: 10vw;
        padding: 5vw 3vw;
    }
    .rest_items{
        margin: 5vw ;
        box-shadow: 0 0 4px 3px inset  hsla(177, 100%, 92%, 0.795);
    }

/* =============<<CE-ig>>============= */
    .contents_ig{
        display: block;
        width: 80%;
    }
    .contents_ig>img{
        width: 80%;
        margin: auto;
        display: block;
    }    
    .ig_title img{
        margin: 0 1.5vw;
    }
    .ig_detail{
        padding: 5vw;
    }
    .ig_detail p{
        margin-top:3vw;
    }
    .ig_icon i{
        margin-top: 5vw;
        margin: 2vw;
    }
 /* ========<<CE-ingredients>>===== */  
    .ingredient_detail{
        width: 80%;
    } 
    .ingredient_detail h2{
        font-size: 16px;
    } 
    .ingredients_items{
        display: flex;
    }
    .ingredients_items p{
        font-size: 11px;
        padding:2vw;
        margin: auto;
    }
    .conduct_picture img{
        margin: 2px;
    }
   /* ==========<<CE-online>>============ */

    .purchase {
        width: 70%;
        padding-top: 3vw;
    }
    .purchase h2 {
        font-size: 24px;
        margin: 18% 0 5% 0;
    }

    .purchase h2::after {
        width: 20%;
    }

    .purchase_process {
        display: flex;
        /* flex-direction: column; */
    }

    .purchase_process .card {
        /* width: 60%; */
        margin: auto;
    }

    .purchase_process .card p {
        margin: 15px 0 15px 0;
        font-size: 10px;

    }

    .purchase_process .card div {
        margin-top: 20px;
        width: 10vw;
        height: 10vw;
        border: 3px  double #3db7f0C2;
    }

    .purchase_process>i {
        /* transform: rotate(90deg); */
        margin: auto;
        display: inline-block;
        font-size: 10px;
    }
    .purchase_process div>i {
        font-size: 5vw;
    }
    /* =======<<timer>>========== */
   /* =======<<CE-purchase_detail>>========== */ 
    
}
/* =============<<FP-desktop>>================ */
@media screen and ( min-width: 668px){
    .product_roller img:nth-child(n){
        width: 25%;
    }
    .product_roller img:nth-child(4){
        display: block;
    }
    .product_roller img:last-child{
        display: none;
    }
    /* ===============<<FP-type>>=================== */
    .contents{
        width: 85%;
    }
    h3::before{
        bottom: -1vw;
        width: 18vw;
    }
    .category{
        display: flex;
        flex-direction: row;
    }
    .item{
        margin: 20px;
    }

    /* ================<<FP-footer>>================= */
    .logo_footer img{
        margin: auto;
        width: 60%;
    }
    .footer_divide{
        width: 100%;
    }
    .footer_divide ul{
        width: 20%;
        line-height: 20px;
        font-size: 16px;
    }
    /* ==============<<FP-detail_collect>>================== */
    .collect{
        width: 70%;
    }
}
   /* =============<<DE-desktop>>================ */
@media screen and ( min-width: 992px){
    header {
        /* padding: 20px; */
        justify-content: right;
    }

    .content {
        /* padding: 0 10px 0 10px; */
        border-radius: 100%;
        width: 45%;
        margin: 20px 30px 0 0;
        z-index: 999;
    }

    .content img {
        width: 90px;
        height: 64px;
        display: none;
    }

    nav {
        width: 100%;
        border-radius: 24px;
        margin: auto;
    }

    .nav_item {
        display: flex;
        justify-content: space-around;
    }

    .nav_item li {
        display: inline-block;
        font-size: 15px;
        margin: 10px 0 10px 0;
    }
    /* =============<<DE-type>>============== */
    .content label {
        display: none;
    }

    /* .roller{ */
        /* min-height: 300px; */
    /* } */
    .product_roller img:nth-child(n){
        width: 20%;
    }
    .product_roller img:last-child,.product_roller img:nth-child(4){
        display:block;
    }
    .contents{
        display: flex;
        width: 80%;
    }
    .type{
        align-items: center;
        width: 10%;
        padding: 6px;
        height: 410px;
        margin-top: 50px;
    }
    .type h2{
        text-align: center;
        font-size: 28px;
        flex-direction:column;
    }
    .category{
        flex-direction: column;
    }
    h3::before{
        width: 14vw;
    }
    /* ===============<<NO-product_divide>>=================== */
    .product_divide h3{
        margin-top: 20px;
    }

    .product_divide h3{
        padding-top: 10px;
        font-size: 28px;
        text-align: center;
    }
    .item{
        box-sizing: border-box;
        margin: 30px;
        width: calc( 100% / 3 - 60px);
        padding: 1%;
    }
    .item img{
        width: 90%;
        margin: auto;
        display: flex;
    }  
    /* ================<<NO-footer>>================= */
    .logo_footer img {
        margin: auto;
        width: 60%;
    }

    .footer_divide {
        width: 70%;
    }

    .footer_divide ul {
        width: 20%;
        font-size: 18px;
    }
    /* ==============<<detail_collect>>================== */
    .collect{
        width: 50%;
    }
    .collect img{
        width: 50%;
        border-radius: 24px 0 0 24px;
    }
    .choose_area{
        padding: 20px 0 20px 0;
    }
    .collect input{
        margin: 10px 3px 10px 0;
    }
/* =====================<<DE-news>>====================== */
    .the_news{  
        padding: 10vw 0;
    }
    .the_news h2{
        margin: 10px 0;
        text-decoration:underline 2px rgb(15, 8, 8);
        text-underline-offset:0.5em;
     
    }
    .contents_newsdivide{
        padding: 1vw 1vw;
    }
    .news_items{
        padding: 1vw 1vw;
        box-shadow: 0 0 10px 10px inset  hsla(177, 100%, 92%, 0.795);

    }
    .news_items span{
        margin: 0 1vw;
    }
    .news_items img{
        width: 4vw;
        height: 4vw;
    }
    .rest{
        padding: 1vw 1vw;
    }
    .rest_items{
        margin: 30px;
        width: 10vw;
        box-shadow: 0 0 5px 3px inset  hsla(177, 100%, 92%, 0.795);

    }
/* ===========<<DE-ig>>=============== */
    .contents_ig{
        display: flex;
        width: 70%;
    }

    .contents_ig>img{
        width: 40%;
    }
    .ig_title img{
        margin: 0 1.3vw;
    }
    .ig_detail{
        padding: 3vw;
    }
    .ig_detail p{
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .ig_icon i{
        margin-top: 3vw;
        margin: 0.5vw;
    }
/* ========<<DE-ingredients>>======= */
    .ingredient_detail{
        width: 70%;
    }
    .ingredient_detail h2{
        font-size: 24px;
    }

    .ingredients_items p{
        position: absolute;
        display: block;
        width: 70%;
        margin: auto;
        top: 50%;
        left: 20%;
        padding: 10px;
        border-radius: 10px;
    }
    .conduct_picture img{
        margin: 10px;
    }
    /* ==========<<DE-online>>============ */
    .purchase h2 {
        margin: 8% 0 5% 0;
        font-size: 32px;
    }
    .purchase h2::after {
        width: 13%;
    }

    .purchase_process {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .purchase_process .card {
        width: 25vh;
    }

    .purchase_process .card p {
        margin-top: 25px;
        font-size: 28px;

    }

    .purchase_process .card div {
        /* padding: 17%; */
        width: 10vw;
        height: 10vw;
        text-align: center;
        margin: auto;
        border: 8px  double #3db7f0C2;

    }
    .purchase_process div>i {
        font-size: 5vw;
    }
    /* =======<<DE-timer>>========== */
    /* /*  */
    /* =======<<DE-purchase_detail>>======= */
} 